/*
 #2B2D42 - dark blue
 #8D99AE - light blue
 #EDF2F4 - blue/white
*/

/* Global styles
-------------------------*/
body {
	color: black;
	font-family: 'Open Sans', sans-serif;
 
}
header, footer {
	background: #2B2D42;
	color: #EDF2F4;
	font-family: 'Caveat', cursive;

}
h1 {
	font-size: 40px;
}
ol {
	background: #8D99AE;
	font-family: 'Fira Sans', sans-serif;
}

.Bio {
	background: #EDF2F4;
}

a{
	color: #EDF2F4;
}
.blktxt {
	color: black;
}
#help{
	color: darkred;
}
ol a {
	color: black;
}

#links a:visited{
	color: #EDF2F4;
}
#links a:hover{
	 text-decoration: none;
}
#larger{
	font-size: 30px;
}

h2 a {
	color: blue;
}